.postTweet-div {


    width: 100%;
    /* border: 1px solid lightgrey; */
    padding: 5px;
    display: grid;
    grid-template-columns: 10% 90%;
    background: #E9F5FD;
}


.user-logo-input {
    border-radius: 100px;
    width: 40px;
    margin: 0 auto;
}

.tweet-button {

    border-radius: 100px;
    padding: 10px 15px;
    border: none;
    background: #48A0EC;
    float: right;
}

.notExpanded {
    
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background: white;
    border: 2px solid #C7E7FA
}

.expanded {
    height: 80px;
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    background: white;
    border: 2px solid #C7E7FA
}

textarea:focus {
    outline: none;
}

.tweet-button {
    font-weight: 700;
    cursor: pointer;
    color: white;
}