.trends-box {
    /* border: 1px solid black; */
    padding: 5px;
    background: white;
}

.user-trending-name {

    color: #48A0EC;

}

.numberTweets {
    font-size: 10px;
    color: #77848B;
}

.trends-box a {
    text-decoration: none;
}

.trends-box h2 {
    margin: 5px;
    font-size: 1em;
    display: inline-block;
}

.changeSpan {
    font-size: 10px;
    margin-left: 5px;
}