


.userProfile {

    min-height: 200px;
    color: #77848B;
    background: white;
}

.userProfile-Banner {
    position: relative;
} 

.userProfile-Banner > img

{

    border: 1px solid black;
    width: 100%;

}

#user-ul {

    padding: 0;
    margin: 0;
    display: flex;


}

.userName {

    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    color: black;
}

.userName p {
    margin: 0;
}

#user-ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    /* background: green; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 33%;
    padding: 10px;
    font-size: 10px;
}

.user-counts {
    color: #48A0EC;
    font-weight: 700;
    font-size: 1.5em !important;
}

.userProfile-Details {
    position: relative;

}

.user-logo {

   width: 4em; 
   border-radius: 100px;
   position: absolute;
   left: 20px;
   bottom: 60px;
   
}

.screenName {

    font-size: 10px;
    color: #77848B;
}